
h1{
    color: brown;
}


.hijau{
    color: green;
}

*{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

a:hover{
    color:palegreen
}

.dummy::first-letter{
    background-color: aqua;
    font-size: 25px;
}

div{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sizing{
    font-size: 20px;
    color: black;
    background-color: rosybrown;
    height: 200px;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}
.sizing::first-letter{
    font-size: 25px;
}

.text{
    font-size: 20px;
    color: rebeccapurple;
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;
    white-space: pre;
    text-shadow: 5px 5px 5px grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    direction: rtl;
    text-align: center;
}