body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 7px;
    overflow: hidden;
    background-color: #333333;
}

.nav ul li{
    float: right;
}

.nav ul li a{
    display: block;
    color: #e2e1df;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5.5px;
}

.nav ul li a:hover{
    background-color: #e2e1df;
    color: #333333;
}